AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
AUTH_JWT_PRIVATE_KEY_LOCATION=
JWT_PUBLIC_KEY_LOCATION=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_ACCESS_TOKEN_TTL=15m
JWT_KEY_ID=
AUTH_RECIPIENTS_SERVICE_KEY=

FLAG_DB_USERNAME=
FLAG_DB_PASSWORD=
JWT_PUBLIC_KEY_LOCATION=
JWT_PUBLIC_KEY_FILE=
JWT_ISSUER=
JWT_AUDIENCE=

ANALYTICS_DB_USERNAME=
ANALYTICS_DB_PASSWORD=

AUDIT_DB_USERNAME=
AUDIT_DB_PASSWORD=

NOTIFICATION_DB_USERNAME=
NOTIFICATION_DB_PASSWORD=
NOTIFICATION_MAIL_USERNAME=
NOTIFICATION_MAIL_PASSWORD=

BOOTSTRAP_OWNER_ENABLED=
BOOTSTRAP_OWNER_NAME=
BOOTSTRAP_OWNER_EMAIL=
BOOTSTRAP_OWNER_PASSWORD=
